// --colors--

$black-100: #000000;
$grey-100: #E9EAEC;
$grey-200: #C0C0C0;
$white-100: #ffffff;

//metric

$border-radius-medium: 10px;
$border-radius-big: 20px;

$font-size-m: 20px;
$font-size-l: 26px;
$font-size-s: 8px;