<header>
    <p class="title">BTC/USD</p>

    <div class="subscribe">
        <button mat-fab extended class="subscribe_btn"
            (click)="subscribeOrUnsubscribe()">
            {{(isLivePriceSubscribed) ? "Unsubscribe" : "Subscribe"}}
        </button>

        <p *ngIf="!isLivePriceSubscribed" class="subscribe_tooltip">
            Subscribe to start getting BTC price in a real time
        </p>
    </div>
</header>


<section>
    <p class="label">Market data:</p>
    <app-market-info></app-market-info>
</section>


<section>
    <p class="label">Cryptocurrency over time:</p>
    <div class="chart">
        <app-chart dataType="Price"></app-chart>
        <div class="chart_controls">
            <button mat-fab extended (click)="loadPrices('30days')">Last 30 days</button>
            <button mat-fab extended (click)="loadPrices('thisYear')">This year</button>
            <button mat-fab extended (click)="loadPrices('3years')">3 years</button>
        </div>
    </div>
</section>