:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    width: 100%;
    gap: 20px;

    p {
        border: 1px solid #E9EAEC;
        padding: 8px 16px;
        width: 90%;
        border-radius: 10px; 
        font-size: 26px;
        font-weight: 500;
    }
}

section {
    width: 100%;
}

button {
    display: inline-block;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 0px 16px;
    height: 38px;

}

.subscribe {
    height: 46px;
    font-size: 16px;
}

.label {
    align-self: start;
    margin-bottom: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E9EAEC;
    padding: 10px 30px;
    width: 100%;
    border-radius: 10px;

    &_item {
        text-align: center;

        &__label {
            margin-bottom: 6px;
            color: #C0C0C0;
        }

        &__data {
            font-size: 20px;
        }
    }
}

.chart {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    width: 100%;
    border-radius: 20px;

    &_controls {
        display: flex;
        gap: 8px;
    }
}